.main-footer {
  background: #f4f4f4;
  border-top: black solid 0.1rem;
}
footer {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 20rem;
  }
  .logo-fb {
    width: 4rem;
    margin-right: 2rem;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
