// TOP LINE
#line {
  width: 100%;
  height: 4vh;
  background: #4bc0fa;
  // color: #4bc0fa;
  text-align: center;
  span {
    font-weight: bold;
  }
  p {
    text-align: center;
    // font-weight: bold;
  }
}

.main-head {
  background-color: #f4f4f4;
  box-shadow: 0px 10px 10px rgba(5, 40, 236, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  min-height: 8vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;

  .nav-links {
    display: flex;

    a {
      padding: 1rem;
      &.current {
        background: $button-color;
        border-radius: 1.5rem;
      }
      &:hover {
        background: #cde8f5;
        border-radius: 1.5rem;
      }
    }
  }
  #logo {
    width: 180px;
  }
}
